version: "3.8"

services:
  mongodb:
    image: mongo:latest
    container_name: planner_mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
    volumes:
      - ./data:/data/db

  api:
    build:
      context: ./backend
    container_name: planner_api
    restart: always
    ports:
      - "8080:8080"
    environment:
      PORT: 8080
      MONGO_URI: mongodb://${MONGO_USER}:${MONGO_PASSWORD}@mongodb:27017/${MONGO_DATABASE}?authSource=admin
    depends_on:
      - mongodb

  frontend:
    build:
      context: ./frontend
    container_name: planner_frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - api
